.desktop-dropdown {
    @media(max-width: 992px){
        display: none;
    }
}
.mobile-dropdown {
    @media(min-width: 992px){
        display: none;
    }

    .form-control {
        border: none;
        outline: none;
    }

    h2 {
        padding: 0;
        margin-bottom: 30px;
    }
}